https://stackoverflow.com/questions/7225900/how-to-pip-install-packages-according-to-requirements-txt-from-a-local-directory?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

^^ Read up on this for more info about dependencies